* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: grey;
}

div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.silverColor{
    font-weight: normal;
    color: silver;
}

.cardBackground{
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    width: 450px;
    height: 515px;
    background-color: rgb(237,237,237);
}

.cardContent{
    position: absolute;
    left: 27px;
    top: 27px;
    width: 396px;
    height: 461px;
    background-color: rgb(255,255,255);
}
.cardTop{
    width: auto;
    height: 275px;
    border-bottom: 1px solid rgb(237,237,237);
}

.portrait{
    width: auto;
    height: 200px;
}

.portraitBound{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 50px;
    left: 123px;
}

.portraitBound img{
    width: inherit;
    position: relative;
    bottom: 20px;
}

.mainInfo{
    width: auto;
    height: 65px;
}

.mainInfo div{
    width:fit-content;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardBottom{
    width: auto;
    height:145px;
    position: relative;
    top: 35px;
}

.info{
    width: auto;
    height: 45px;
}
.info div{
    margin: 5px;
    position: relative;
    left: 20px;
    width: fit-content;
}

.smallSize{
    font-size: 12px;
}